<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="container-fluid">
        <div class="card-deck mt-3">
          <div class="card custom-indicator border-yellow">
            <div class="card-body bg-yellow text-center pb-0">
              <div class="row">
                <div class="col-sm-4">
                  <i class="material-icons md-72 md-light">directions_car</i>
                </div>
                <div class="col-sm-8 text-right">
                  <div class="row">
                    <div class="col text-white h1 mb-0 mt-0">{{currentNoOfCars}}</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col text-white text-right">Current No of Cars</div>
              </div>
            </div>
            <div class="card-footer bg-lightgray p-1">
              <p class="card-text text-yellow text-right">
                <b>Current Day</b>
              </p>
            </div>
          </div>
          <div class="card custom-indicator border-blued">
            <div class="card-body bg-blued text-center pb-0">
              <div class="row">
                <div class="col-sm-4">
                  <i class="material-icons md-72 md-light">directions_car</i>
                </div>
                <div class="col-sm-8 text-right">
                  <div class="row">
                    <div class="col text-white h1 mb-0 mt-0">{{totalCarParking}}</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col text-white text-right">Total Car Parking</div>
              </div>
            </div>
            <div class="card-footer bg-lightgray p-1">
              <p class="card-text text-blued text-right">
                <b>Current Day</b>
              </p>
            </div>
          </div>
          <div class="card custom-indicator border-blue">
            <div class="card-body bg-blue text-center pb-0">
              <div class="row">
                <div class="col-sm-4">
                  <i class="material-icons md-72 md-light">directions_car</i>
                </div>
                <div class="col-sm-8 text-right">
                  <div class="row">
                    <div class="col text-white h1 mb-0 mt-0">{{availableCarParking}}</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col text-white text-right">Available Parking</div>
              </div>
            </div>
            <div class="card-footer bg-lightgray p-1">
              <p class="card-text text-blue text-right">
                <b>Current Day</b>
              </p>
            </div>
          </div>
          <div class="card custom-indicator border-green">
            <div class="card-body bg-green text-center pb-0">
              <div class="row">
                <div class="col-sm-4">
                  <i class="material-icons md-72 md-light">directions_bike</i>
                </div>
                <div class="col-sm-8 text-right">
                  <div class="row">
                    <div class="col text-white h1 mb-0 mt-0">{{currentNoOfBikes}}</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col text-white text-right">Current no of Bikes</div>
              </div>
            </div>
            <div class="card-footer bg-lightgray p-1">
              <p class="card-text text-green text-right">
                <b>Current Day</b>
              </p>
            </div>
          </div>
          <div class="card border-red custom-indicator">
            <div class="card-body bg-red text-center pb-0">
              <div class="row">
                <div class="col-sm-4">
                  <i class="material-icons md-72 md-light">directions_bike</i>
                </div>
                <div class="col-sm-8 text-right">
                  <div class="row">
                    <div class="col text-white h1 mb-0 mt-0">{{totalBikeParking}}</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col text-white text-right">Total Bike Parking</div>
              </div>
            </div>
            <div class="card-footer bg-lightgray p-1">
              <p class="card-text text-red text-right">
                <b>Current Day</b>
              </p>
            </div>
          </div>
          <div class="card border-orange custom-indicator">
            <div class="card-body bg-orange text-center pb-0">
              <div class="row">
                <div class="col-sm-4">
                  <i class="material-icons md-72 md-light">directions_bike</i>
                </div>
                <div class="col-sm-8 text-right">
                  <div class="row">
                    <div class="col text-white h1 mb-0 mt-0">{{availableBikeParking}}</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col text-white text-right">Available Parking</div>
              </div>
            </div>
            <div class="card-footer bg-lightgray p-1">
              <p class="card-text text-orange text-right">
                <b>Current Day</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>